:root {
  --green: #66bfbf;
  --ltgreen: #eaf6f6;
  --white: #fcfefe;
  --pink: #f76b8a;
}

footer {
  width: 100%;
  text-align: center;
}

body {
  margin: 20px;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

nav {
  color: #333;
  /* padding: 10px; */
}

.container {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 90px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li.close-btn {
  cursor: pointer;
  font-size: 60px;
  display: none;
  color: white;
}

.menu a {
  color: #333;
  font-size: 24px;
  text-decoration: none;
}
.menu a:hover {
  color: var(--pink);
}

.content {
  padding: 20px;
}

/* Hamburger Menu Styles */
.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}
.bar:hover {
  background-color: var(--pink);
}

/* Hamburger Menu Styles END */

.profile-content {
  flex-direction: row;
  justify-content: center;
  margin: 150px auto;
  height: unset;
}

.socials a {
  color: #f76b8a;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  font-size: 24px !important;
}

.tools-mobile {
  display: inline-block;
  list-style: none;
  padding-left: 10px;
}

.tools-mobile li {
  display: inline-block;
  padding-right: 30px;
}

.tech-icons {
  font-size: 20px;
}

.site-info {
  display: absolute;
  bottom: 10px;
}

.site-info a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    margin: 0;
  }

  .menu.active li {
    margin: 20px 0;
  }
  .menu.active a {
    color: white;
  }
  .menu.active a:hover {
    color: var(--pink);
  }

  .menu.active li:last-child {
    margin-bottom: 0;
  }

  .menu li.close-btn {
    display: block;
  }
}
