:root {
  --yellow: #ffe700;
  --pink: #fe4e6e;
  --purple: #613864;
  --gray: #d8d7d7;
}

* {
  font-family: "Josefin Sans", sans-serif !important;
}

h1 {
  font-weight: 800 !important;
  font-size: 128px !important;
  text-transform: uppercase;
  letter-spacing: -0.08em;
}

h2 {
  font-size: 80px !important;
  font-weight: 800 !important;
  color: var(--purple) !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  text-transform: uppercase;
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

button {
  padding: 15px 30px 12px !important;
  background-color: var(--pink);
  border: none;
  border-radius: 30px !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

button:hover {
  background-color: var(--purple);
  transition: all 200ms ease-in-out;
}

#menu {
  position: fixed;
  text-align: right;
  top: 0;
  right: 0;
  z-index: 70;
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: var(--purple);
}

#menu li {
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  font-size: 20px !important;
  font-weight: 600;
}
#menu li.active {
  color: white;
}
#menu li a {
  text-decoration: none;
  color: white;
}

#menu li a,
#menu li.active a {
  /* padding: 9px 18px; */
  display: block;
}
#menu li:hover,
#menu li.active a {
  padding: 0 0.1em;
  background-image: linear-gradient(to right, var(--pink) 0%, var(--pink) 100%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: left 85%;
  box-decoration-break: clone;
}

.fa-instagram,
.fa-linkedin {
  font-size: larger;
  color: #ffffff;
  padding: 0 !important;
}

.vr {
  opacity: 1 !important;
  width: 2px !important;
}

.section {
  text-align: center;
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hello {
  display: flex;
  color: white;
  background-color: var(--purple);
  text-align: left;
  height: 100vh;
}

.arrow-down .fa-arrow-down {
  font-size: 48px;
  color: white;
  position: absolute;
  bottom: 10px;
}

.hello h1 {
  line-height: 1em;
}
.hello h2 {
  font-size: 24px;
}

.hero {
  margin-top: 350px;
}

.work img {
  max-width: 100% !important;
}

.contact {
  color: white;
  background-color: var(--gray);
  height: 100vh;
}

footer {
  /* position: absolute; */
  bottom: 10px;
}

footer .grid {
  grid-gap: 30px;
}

footer h3 {
  font-size: 36px;
  line-height: 36px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: black;
}

footer a:hover {
  color: var(--pink);
}

.site-info {
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}

.site-info a {
  color: var(--purple);
  font-weight: 800;
  text-decoration: none;
}

.site-info a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
  line-height: 12px;
}
