:root {
  --first: #f9e2af;
  --second: #009fbd;
  --third: #210062;
  --primary: #77037b;
}

footer {
  width: 100%;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.container {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li.close-btn {
  cursor: pointer;
  font-size: 60px;
  display: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
}

/* Hamburger Menu Styles */
.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

/* Hamburger Menu Styles END */

.fa-instagram,
.fa-linkedin {
  font-size: larger;
  color: #ffffff;
  padding: 0 !important;
}

.tools-mobile {
  display: inline-block;
  list-style: none;
  padding-left: 10px;
}

.tools-mobile li {
  display: inline-block;
  padding-right: 30px;
}

.tech-icons {
  font-size: 20px;
}

.site-info {
  display: absolute;
  bottom: 10px;
}

.site-info a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
  }

  .menu.active li {
    margin: 20px 0;
  }

  .menu.active li:last-child {
    margin-bottom: 0;
  }

  .menu li.close-btn {
    display: block;
  }
}
